/* In global CSS */
@import "leaflet/dist/leaflet.css";
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Optional toast customization */
.react-hot-toast {
  font-size: 14px;
  font-family: 'Segoe UI', sans-serif;
}
